# Copy to .env and fill values
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Dushu@2006
DB_NAME=ecommerce
RAZORPAY_KEY_ID=rzp_test_SsfWvZhtYI6dCX
RAZORPAY_KEY_SECRET=HVEZKbmu7NXe5XO5483MBJeK
PORT=5000
NODE_ENV=development
