# Copy to .env and fill values
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Nayana@2004
DB_NAME=ecommerce
RAZORPAY_KEY_ID=rzp_test_SxQhtVAp5GhLB8
RAZORPAY_KEY_SECRET=iHpAkeJUm6z2lMY5QE5o2jaL
PORT=5000
NODE_ENV=development
